

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
         <li class="nav-item">
            <p class="welcome-text">Hoşgeldin @User.Identity.Name</p>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Logout","Account")">Çıkış Yap</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Kaydol</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
        </li>
    }
</ul>
