@{
    ViewBag.Title = "Create";
}
@{
    if (TempData["Hata"] != null)
    {
        <h3>Hata : @TempData["Hata"]</h3>
    }

}
@using (Html.BeginForm("Create", "Lesson", FormMethod.Post))
{
    <h2>Ders Ekle</h2>
    <input type="text" name="lessonName" placeholder="Ders Adı" />
    <input type="number" name="credit" placeholder="Kredi" />
    <input type="submit" value="Ders Ekle" />


}

