@model string

@{
    ViewData["Title"] = "OBS";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a href='@Url.Action("Action","HomeController","NotBilgisiGoruntule")'class="btn btn-primary">Not Bilgisi Görüntüle</a>
    </p>

    <p>Bu sayfanın açıldığı saat : @Model</p>
</div>
