@*
@using Login.Domain


@model List<Student>
@{
    ViewData["Title"] = "Öğrenci";
}
<h1>@ViewData["Title"]</h1>

@{

    <table class="table">
        <thead>

            <tr>
                <th scope="col">#</th>
                <th scope="col">Öğrenci Adi</th>
                <th scope="col">Öğrenci SoyAdi
                <th>
            </tr>
        </thead>
        <tbody>

            @{

                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td @item.Name></td>
                        <td @item.Surname></td>
                    </tr>
                }
            }

        </tbody>



    </table>
}
*@