* {
    box-sizing: border-box
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
        border-radius: 10px;
        border: thick;
    }

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
    outline: none;
}

.loginbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
    outline: none;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.welcome-text {
    margin-bottom: 0;
    margin-top: 9px;
}

.bodyy {
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
    min-height: 100vh;
}

.container2 {
    width: 400px;
    background: #f1f1f1;
    height: 780px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.student-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 210px; 
}

.container3 {
    width: 1100px;
    height: 850px;
    background: #f1f1f1;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    top:17%;
    left:28%;
}

