html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('file:///C:\Program Files (x86)\Login\Login\Login\wwwroot\images\bg.jpg');
}
