@model StudentModel
@{
    if (TempData["Hata"] != null)
    {
        <h3>Hata : @TempData["Hata"]</h3>
    }

}
@using (Html.BeginForm("Delete", "Student", FormMethod.Post))
{
    <h2>Öğrenci Sil</h2>
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="Öğrenci Sil" />

}


