@using Login.Domain

@model List<Student>
@{

    var veri = Model;
    if (TempData["Hata"] != null)
    {
        <h3>Hata:@TempData["Hata"] </h3>
    }
}
@using (Html.BeginForm("CreatePOST", "Note", FormMethod.Post))
{
    <h2>Not Ekle</h2>
    <select class="form-control" id="StudentGender" name="StudentGender">
        @{
            foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name @item.Surname</option>
            }
        }
    </select>
    <input type="number" name="visaNote" placeholder="Vize Notu" />
    <input type="number" name="finalNote" placeholder="Final Notu" />
    <input type="number" name="homeworkNote" placeholder="Ödev Notu" />
    <input type="submit" class="btn btn-success" value="Kaydet">
}
